body {
    font-family: 'Special Elite', cursive;
    background-color: lightskyblue;
}

.header_div {
    background-color: lightcyan;
    color: darkmagenta;
}

.header_div p {
    font-family: cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Quicksand', sans-serif !important;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

#copy_right_footer {
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: lightcyan;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}